<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.user.dao.OrganizationDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.model.user.Organization">
        <id column="id" property="id" />
        <result column="organization_name" property="organizationName" />
        <result column="img" property="img" />
        <result column="manager" property="manager" />
        <result column="telephone" property="telephone" />
        <result column="delete_status" property="deleteStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, organization_name AS organizationName, img, manager, telephone, delete_status AS deleteStatus, create_time AS createTime, update_time AS updateTime, create_user AS createUser
    </sql>

</mapper>
