<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.user.dao.SysSwaggerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.model.user.SysSwagger">
        <id column="swagger_id" property="swaggerId" />
        <result column="url" property="url" />
        <result column="port" property="port" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        swagger_id AS swaggerId, url, port, name
    </sql>

</mapper>
