<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.v2.mapper.auto.TSysFileMapper">
    
    <resultMap type="com.fc.v2.model.auto.TSysFile" id="TSysFileResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="bucketName"    column="bucket_name"    />
        <result property="fileSize"    column="file_size"    />
        <result property="fileSuffix"    column="file_suffix"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTSysFileVo">
        select id, file_name, bucket_name, file_size, file_suffix, create_by, create_time, update_by, update_time, remark from t_sys_file
    </sql>
</mapper>