<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.v2.mapper.auto.TSysRoleUserMapper">
    
    <resultMap type="com.fc.v2.model.auto.TSysRoleUser" id="TSysRoleUserResult">
        <result property="id"    column="id"    />
        <result property="sysUserId"    column="sys_user_id"    />
        <result property="sysRoleId"    column="sys_role_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTSysRoleUserVo">
        select id, sys_user_id, sys_role_id, create_by, create_time, update_by, update_time, remark from t_sys_role_user
    </sql>


</mapper>